# Python caches and environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Streamlit/PyMC/Prophet caches
.streamlit/
cmdstanpy/

# Models
models/*.nc

# Data
data/raw/*.csv
data/processed/*.csv


!data/processed/demo_optimal_spend.csv
!data/processed/demo_roi.csv
!data/processed/demo_contribution.csv
!data/processed/cleaned_marketing_data.csv

# Python
venv/
__pycache__/
.DS_Store
