# Python caches and environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Streamlit/PyMC/Prophet caches
.streamlit/
cmdstanpy/

# Models
models/*.nc

# Data
data/raw/*.csv
data/processed/*.csv

# Python
venv/
__pycache__/
.DS_Store
